@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Source+Sans+Pro:wght@400;600&display=swap');
/* Main Areas */

body {
    background: rgb(242, 243, 245);
    color: rgb(49, 49, 53);
}

body,
textarea,
button {
    font-family: 'Source Sans Pro';
    letter-spacing: 0.35px;
    line-height: 1.4;
    font-size: 18px;
}

.inputArea {
    display: flex;
    flex-flow: column;
    margin-left: 64px;
}

h1 {
    color: rgb(66, 69, 78);
    font-weight: 700;
    font-size: 28px;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 0;
    margin-top: 18px;
}




button {
    align-self: center;
    padding: 10px 24px;
    background: rgb(67, 75, 85); 
    color: white;
    border: none;
    border-radius: 2px;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 16px;
}

#info {}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}

button:hover {
    background: rgb(68, 71, 75);
}

textarea {
    padding: 20px;
    color: rgb(30, 30, 32);
    margin-left: -3px;
    margin-top: 5px;
    border: 1px solid rgb(221, 223, 231);
    height: auto;
    min-width: 30vw;
}

span {
    display: block;
    font-weight: 600;
    padding: 16px 8px 8px 24px;
    color: rgb(106, 111, 128);
    font-family: Montserrat;
    font-size: 20px;
}

.test {
    display: flex;
    flex-flow: wrap;
}

label {
    display: flex;
    flex-flow: column wrap;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 32px;
    font-family: Montserrat;
    color;
    color: rgb(54, 57, 65);

}


.numberTitle {
    font-weight: 700;
    font-size: 1.2em;
}

ol:first-of-type {
    list-style-type: none;
    padding: 0 16px 16px 16px;

}

/* Lists */

li li {
    padding: 2px 4px;
    /* display: inline-block; */

}


#wordList {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 64px;
    width: 50vw;
}

#wordList>li {
    border: 1px solid rgb(221, 223, 231);
    margin: 10px 15px 10px 0;
    background: white;
    display: flex;
    flex-flow: column;
    flex: 1 1 min-content;
}


ol li ol {
    /* Most nested */
    padding: 0;
    columns: 4 auto;
    column-gap: 0px;
}

@media screen and (max-width: 890px) {
    #wordList li {}
}